    <div class="row clearfix">
        <div class="col-md-12 column">


            {{#if success}}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
&times;
</button>
                <p>{{success}}</p>
            </div>
            {{/if}} 
            {{#if error}}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
&times;
</button>
                <p>{{error}}</p>
            </div>
            {{/if}}
        </div>
    </div>
