<div class="row clearfix">
    <div class="col-md-2 column">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">全部</a></li>
            <li><a href="#">精华</a></li>
            <li><a href="#">分享</a></li>
            <li><a href="#">问答</a></li>
            <li><a href="#">招聘</a></li>
        </ul>
    </div>

    <div class="col-md-10 column">

        <div class="inner no-padding">
            <div id="topic_list">

                <div class='cell'>
                    <a class="user_avatar pull-left" href="#">
                        <img src="" title="avatar1" />
                    </a>
                    <span class="reply_count pull-left">
                <span class="count_of_replies" title="回复数">224</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title='点击数'>55588</span>
                    </span>
                    <a class='last_time pull-right' href="#">
                        <img class="user_small_avatar" src="" title="avatar2">
                        <span class="last_active_time">20 小时前</span>
                    </a>
                    <div class="topic_title_wrapper">
                        <span class='put_top'>置顶</span>
                        <a class='topic_title' href='#' title='《一起学 Node.js》彻底重写完毕'>《一起学 Node.js》彻底重写完毕 </a>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>

<script lang="javascript">
    $(document).ready(function() {
        $.ajax({
            url:"https://cnodejs.org/api/v1/topics/?page=1",
            method:"GET",
            dataType:"json",
            success:function(data){
                alert(data.data[0].content);
            }
        });
    });
</script>
