<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jumbotron Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../public/css/jumbotron.css" rel="stylesheet">

  <style type="text/css">
    .row{
      margin-top: 4px;
      margin-bottom: 4px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header" aria-orientation="horizontal">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <a class="navbar-brand" href="#"><img alt="CnodeJS" src="../public/logo/cnodejs_light.svg" width="80px" height="22px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="What do you want?">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> 主页</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <div class="row clearfix">
      <div class="col-md-2 column">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">全部</a></li>
          <li><a href="#">精华</a></li>
          <li><a href="#">分享</a></li>
          <li><a href="#">问答</a></li>
          <li><a href="#">招聘</a></li>
        </ul>
      </div>

      <div class="col-md-10 column">

        <div class="inner no-padding">
          <div id="topic_list">

            <div class='cell'>
              <a class="user_avatar pull-left" href="#">
                <img src="" title="avatar1" />
              </a>
              <span class="reply_count pull-left">
                <span class="count_of_replies" title="回复数">224</span>
                <span class="count_seperator">/</span>
                <span class="count_of_visits" title='点击数'>55588</span>
              </span>
              <a class='last_time pull-right' href="#">
                <img class="user_small_avatar" src="" title="avatar2">
                <span class="last_active_time">20 小时前</span>
              </a>
              <div class="topic_title_wrapper">
                <span class='put_top'>置顶</span>
                <a class='topic_title' href='#' title='《一起学 Node.js》彻底重写完毕'>《一起学 Node.js》彻底重写完毕 </a>
              </div>
              <hr>
            </div>
 

            </div>
            </div>
          </div>
        </div>


        <div class="row clearfix">
          <div class="col-md-12 column">
            <hr>
            <footer>
              <p>&copy; Wan Benyu</p>
            </footer>
          </div>
        </div>

      </div>

      <!-- /container -->


      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>